<header>
 
  <h1>Iza Bike</h1>
    <p>The date and time is <%= Time.now.strftime("%d %B, %Y, %I:%M:%S %p") %></p>

<%# test_variable = 42 %>
<%#= test_variable %>
  <h1>Welcome!</h1>
  <h2>We are here to provide you with the best sources for used bikes in Berlin.</h2>
  <%= image_tag("iza_logo.jpg", class: "img-responsive my-image") %>

 <%= yield %>
</header><!--END container-->

