<table>
  <tbody>
    <tr>
      <td>
        <p>Hi <%= @name %>,</p><br>
      </td>
    </tr>
    <tr>
      <td>
        <p>Thank you for placing the following order with us:</p><br>
      </td>
    </tr>
    <tr>
      <td>
        <p>Product <%= link_to @product.name, @product %></p><br>
        <p>Price: <b>$<%= @product.price %></b></p><br>
      </td>
    </tr>
    <tr>
      <td>
        <p>We have received it and will begin to process it right away.</p><br>
      </td>
    </tr>
    <tr>
      <td>
        <p>If you have any questions, please do not hesitate to contact us.</p><br>
      </td>
    </tr>
    <tr>
      <td>
        <p>Sincerely,<br>
        Iza Bike</p>
      </td>
    </tr>
  </tbody>
</table>
