$("#comment_body").val('');
//$("#add_review").html("<h4>Thank you for your review!</h4>");
//$('.product-reviews').prepend("<%= j render @comment %>");
//$('.rated').attr('data-score', '<%= @product.average_rating %>');
//rating();