<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <h2>Editing User</h2>
  
      <%= render 'form' %>

        <button type="button" class="btn btn-default"><%= link_to 'Show', @user %></button>
        <button type="button" class="btn btn-default"><%= link_to 'Back', users_path %></button>
    </div>
  </div>
</div>
