// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  color: #FF6347;
}

.carousel-caption {
  font-size: 15px;
  color: #000099;
}

.listing_products,
.featured_product {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-group label {
  font-size: 15px;
}

label {
  color: white;
}

a {
  font-size: 13px;
  color: #000099;
}

a:visited {
  color: white;
}

#container_product {
  margin-bottom: 30px;
}

#product_description,
#product_color, 
#product_price,
h3, 
#link_product,
#show_product {
  text-align: left;
  font-size: 14px;
  color: white;
}

#product_description.form-control, 
#product_color.form-control,
#product_price.form-control {
  color: black;
}

#product {
  font-size: 15px;
}

h3 {
  color: #FF6347;
}

.btn-primary {
  color: #000099;
  background-color: white;
  border-color: #000099;
}


.product-img { 
  height: 250px; 
  width: 400px; 
  border: groove;
} 

button.btn.btn-default {
  color: white;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}




