// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group label {
  font-size: 15px;
}

a {
  font-size: 15px;
}

#product_color, 
#product_price,
h3, 
#link_product,
#show_product {
  text-align: left;
}

#product {
  font-size: 15px;
}

.btn-primary {
  color: white;
  background-color: #00CC00;
  border-color: #00CC00;
}

.product-img { 
  height: 250px; 
  width: 400px; 
} 