// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  color: #FF6347;
  text-align: left;
}

h3 {
  color: #FF6347;
  text-align: left;
  font-size: 16px;
}

h4 {
  color: #FF6347;
  text-align: left;
  font-size: 16px;
}

.carousel-caption {
  font-size: 13px;
  color: #000099;
}

.listing_products,
.featured_product {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-group label {
  font-size: 15px;
  text-align: left;
}

label {
  color: white;
}

a {
  font-size: 13px;
}

em, i {
  color: white;  
}

/**** SHOW PAGE ****/
#mleft30 {
  margin-left: 30px;
}

.thumbnail {
  background-color: #e1e8f0;
}

.thumbnail p {
  color: black;
} 

#show_product {
  color: black;
  text-align: left;
  font-size: 14px;
}

.next_page,
.previous_page.disabled {
  color: #FF6347;
}

.pagination a {
  color: white;
}

.glyphicon-remove:before {
  color: #FF6347;
}
/**** END SHOW PAGE ****/

.field {
  text-align:left;  
}

.form-group {
  text-align:left;  
}

#container_product {
  margin-bottom: 30px;
}

#product_description,
#product_color, 
#product_price, 
#link_product {
  text-align: left;
  font-size: 14px;
  color: white;
}

#product_description.form-control, 
#product_color.form-control,
#product_price.form-control {
  color: black;
}

#product {
  font-size: 15px;
}

#product_new a, 
p#notice {
  color: #FF6347;
}
/****BTN****/

.btn-primary {
  color: #FF6347;
  background-color: white;
  border-color: #000099;
}

.btn-primary:hover {
  background: #33a6cc;
}

.btn.btn-default {
  margin-bottom: .5cm;
}
/****BTN END****/

.a:visited {
  color: white;
}

.product-img { 
  height: 250px; 
  width: 400px; 
  border: groove;
} 

th, td {
  font-size: 15px;
  color: white;
  text-align: left;
}