// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

header {
  background-color: #efefef;
}

body {
  font: 100% Verdana, Geneva, Sans-Serif; 
  background-color: #efefef;
  text-align: center;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
  
h1 {
  color: #006633;
}

p {
  font-size: 15px;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: rgba(0, 204, 0, 1);
}

#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background-color: rgba(248, 248, 248, 1);
  border-width: 1px;
  border-radius: 4px;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(0, 204, 0, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(88, 88, 88, 1);
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(88, 88, 88, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 204, 0, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 204, 0, 1);
    background-color: rgba(112, 112, 112, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #707070;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #707070;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #707070;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #585858;
}

.footer {
  font-size: 15px;
  color: #00CC00;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #585858;
}
