// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}


body {
  font: 100% Verdana, Geneva, Sans-Serif; 
  background-color: #383838;
  text-align: center;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
  
h1 {
  color: #FF6347;
}

p {
  font-size: 15px;
  color: white;
}

a:visited {
  color: #FF6347;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: rgba(0, 0, 153, 1);
}
#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 1);
  border-width: 1px;
  border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
  color: rgba(0, 0, 153, 1);
  background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 153, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 153, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #000099;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #000099;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #000099;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #ffffff;
}

.footer {
  font-size: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: white;
}

.footer p {
  margin-top: .5cm;
  color: #000099;
}
