// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font: Verdana, Geneva, Sans-Serif; 
  background-color: #383838;
  text-align: center;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/**** JUMBOTRON ****/ 

.jumbotron {
  background-color: white;
  background-size: cover;
  color: #FF6347;
}
.jumbotron p {
  color: black;
}

/**** END JUMBOTRON ****/

h1 {
  color: #FF6347;
}

p {
  font-size: 15px;
  color: white;
}

a:visited {
  color: #FF6347;
}

/**** NAVBAR ****/

#navbar.navbar-default .navbar-brand {
  color: rgba(230, 39, 57, 1);
}

a.navbar-brand {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;
}

#q.form-control {
  margin-bottom: .5cm;
}

#navbar.navbar-default {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: rgba(225, 232, 240, 1);
  border-width: 1px;
  border-radius: 4px;
}

#navbar.navbar-default .navbar-nav>li>a {
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
  color: rgba(230, 39, 57, 1);
  background-color: rgba(225, 232, 240, 1);
  #float: left;
  margin: 0 0 10px 10px;
}

#navbar.navbar-default .navbar-nav>li>a:hover,
#navbar.navbar-default .navbar-nav>li>a:focus {
  color: rgba(225, 232, 240, 1);
  background-color: rgba(230, 39, 57, 1);
}

#navbar.navbar-default .navbar-nav>.active>a,
#navbar.navbar-default .navbar-nav>.active>a:hover,
#navbar.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(225, 232, 240, 1);
  background-color: rgba(230, 39, 57, 1);
}

#navbar.navbar-default .navbar-toggle {
  border-color: #e62739;
}

#navbar.navbar-default .navbar-toggle:hover,
#navbar.navbar-default .navbar-toggle:focus {
  background-color: #e62739;
}

#navbar.navbar-default .navbar-toggle .icon-bar {
  background-color: #e62739;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #e1e8f0;
}
/**** END NAVBAR ****/

input.btn.btn-default {
  color: #e62739;
  background-color: #e1e8f0;
}

.panel-body p {
  color: #FF6347;
}

/**** FOOTER ****/

.footer {
  font-size: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #e1e8f0;
}

.footer p {
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
  margin-top: .5cm;
  color: #e62739;
}

/**** END FOOTER ****/