<div class="container">
<h1>Editing Product</h1>

<%= render 'form' %>

<button type="button" class="btn btn-default"><%= link_to 'Show', @product %></button> |
<button type="button" class="btn btn-default"><%= link_to 'Back', products_path %></button>
</div>
